// colors
$white: #fff;
$off-white: #888;
$off-black: #222222;
$light-black: #303030;
$light-gold-off: #BFA78A;
$light-gold: #c0bb62 ;
$blue: #20268C;
$light-blue: #2E39CC;
$red: #671911;
$light-red: #E73827;

// fonts
$default-font: Ubuntu, sans-serif !important;
$title-font: Ubuntu, sans-serif !important;
$secondary-title-font: 'David Libre', serif !important;

// settings global
$default-color-text: $white;
